@{
    ViewData["Title"] = "About";
}

@await Html.PartialAsync("_BreadcrumbPartial")

<div class="container-fluid">
    <div class="animated fadeIn">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</div>