@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.MongoDB
@using DynTech.IdentityServer.Services
@model LoginViewModel
@inject IAppVersionService AppVersionService

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div>
                            <form asp-controller="Account" autocomplete="off" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="omb_loginForm">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><em class="fa fa-user"></em></span>
                                    </div>
                                    <input asp-for="Email" class="form-control" placeholder="email address" />
                                </div>
                                <span class="help-block"></span>
                                                    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><em class="fa fa-lock"></em></span>
                                    </div>
                                    <input asp-for="Password" class="form-control" placeholder="Password" />
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="text-muted" style="padding: 7px 0; display: inline-block;">[ver.@AppVersionService.Version]</span>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-link px-0">Forgot password?</button>
                            </div>
                        </div> 
	                </div>
                </div>
                <div class="card bg-light py-5 d-md-down-none" style="width:44%">
                    <div class="card-body">
                        <div>
                            @{
                                var loginProviders = SignInManager.GetExternalAuthenticationSchemesAsync().Result.ToList();
                                if (loginProviders.Count == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="row justify-content-center">
                                        
                                        @foreach (var provider in loginProviders)
                                        {
                                            <div class="row align-items-center col-md-10">
                                            @if (provider.DisplayName == "Google")
                                            {
                                                <button type="submit" class="btn btn-brand btn-lg btn-google-plus" name="provider" value="Google"  style="margin-bottom: 4px">
                                                    <em class="fab fa-google-plus"></em>
                                                    <span>Google+</span>
                                                </button>
                                            }
                                            @if (provider.DisplayName == "Twitter")
                                            {
                                                <button type="button" class="btn btn-brand btn-lg btn-twitter" name="provider" value="Twitter" style="margin-bottom: 4px">
                                                    <em class="fab fa-twitter"></em>
                                                    <span>Twitter</span>
                                                </button>
                                            }
                                            @if (provider.DisplayName == "Microsoft")
                                            {
                                                <button type="submit" class="btn btn-brand btn-lg btn-github" name="provider" value="Microsoft" title="Log in using your Microsoft account">         
                                                    <em class="fab fa-microsoft"></em>
                                                    <span>Microsoft</span>
                                                </button>
                                            }
                                            </div>
                                        }

                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}