@using DynTech.IdentityServer.Models.UserViewModels
@model UsersViewModel
@{
    ViewData["Title"] = "User List";
}
@await Html.PartialAsync("_BreadcrumbPartial")
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="grants">
            <div class="row page-header">
                <div class="col-sm-10">
                    <h1>
                        User List
                    </h1>
                    <div></div>
                </div>
            </div>
            @if (Model.Users.Any() == false)
            {
                <div class="row">
                    <div class="col-sm-8">
                        <div class="alert alert-info">
                            No user registered
                        </div>
                    </div>
                </div>
            }
            else
            {
                foreach (var user in Model.Users)
                {
                    int index = 1;
                    <div class="row grant">
                        <div class="col-sm-2">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Registered Clients</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">@index</th>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@string.Join(",", user.ClientNames)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    index++;
                }
            }
        </div>
    </div>
</div>