<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a asp-area="" asp-controller="Home" class="btn" asp-action="Index">
                <em class="nav-icon icon-speedometer"></em> Dashboard
            </a>
        </div>
    </li>
</ol>