@using IdentityServer4.Extensions
@{
    string classStr = string.Empty;
    string userName = Context.User?.FindFirst("name")?.Value;
    if (userName != null)
    {
        classStr = "app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show";
    }
    else
    {
        classStr = "app flex-row align-items-center";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Identity Server">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>@ViewData["Title"] - Identity Server</title>

    <environment names="Development,Docker,Staging,Production">
        <!-- Icons-->
        <link href="/vendors/css/flag-icon.min.css" rel="stylesheet">
        <link href="/vendors/css/font-awesome.min.css" rel="stylesheet">
        <link href="/vendors/css/simple-line-icons.min.css" rel="stylesheet">
        <!-- Main styles for this application-->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/vendors/css/pace.min.css" rel="stylesheet">
    </environment> 
</head>
<body class="@classStr">
    @if (userName != null)
    {
        @await Html.PartialAsync("_LoginPartial")
    }

    <div class="app-body">
        @if (userName != null)
        {
            @await Html.PartialAsync("_SideBarPartial")
        }
        <main class="main">
                @RenderBody()
        </main>
        @if (userName != null)
        {
            @await Html.PartialAsync("_AsideMenuPartial")
        }
    </div>
        @if (userName != null)
        {
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span>&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>
        }

    <environment names="Development,Docker,Staging,Production">
        <!-- Bootstrap and necessary plugins-->
        <script src="/vendors/js/jquery.min.js"></script>
        <script src="/vendors/js/popper.min.js"></script>
        <script src="/vendors/js/bootstrap.min.js"></script>
        <script src="/vendors/js/pace.min.js"></script>
        <script src="/vendors/js/perfect-scrollbar.min.js"></script>
        <script src="/vendors/js/coreui.min.js"></script>
        <!-- Plugins and scripts required by this view-->
        <script src="/vendors/js/Chart.min.js"></script>
        <script src="/vendors/js/custom-tooltips.min.js"></script>
        <script src="/js/main.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
