@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.FindFirst("name")?.Value;
    }
}

@if (name != null)
{
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        Profiles
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-location-pin"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
              <a href="#" class="dropdown-item">@name <b class="caret"></b></a>
            </div>
            <a asp-area="" asp-controller="Clients" class="dropdown-item" asp-action="Index">
                <i class="fa fa-bell-o"></i> Clients
                <span class="badge badge-info">42</span></a>
            <a asp-area="" asp-controller="Users" class="dropdown-item" asp-action="Index">
                <i class="fa fa-envelope-o"></i>Users
                <span class="badge badge-success">42</span></a>
            <a class="dropdown-item" href="~/.well-known/openid-configuration">
              <i class="fa fa-tasks"></i> Discovery Document</a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a asp-action="Index" class="dropdown-item" asp-controller="Manage">
              <i class="fa fa-user"></i> Profile</a>
            <a asp-action="Index" class="dropdown-item" asp-controller="Users">
              <i class="fa fa-wrench"></i>Site Users
              <span class="badge badge-primary">2</span></a>
            <a asp-action="Index" class="dropdown-item" asp-controller="Grants">
              <i class="fa fa-shield"></i>Grants</a>
            <div class="divider"></div>
            <a asp-action="Logout" class="dropdown-item" asp-controller="Account">
              <i class="fa fa-lock"></i>Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
}