
      <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" class="nav-link" asp-action="Index">
                        <i class="nav-icon icon-speedometer"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Clients" class="nav-link" asp-action="Index">
                        <i class="nav-icon icon-vector"></i> Clients
                        <span class="badge badge-info">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Users" class="nav-link" asp-action="Index">
                        <i class="nav-icon icon-user"></i>Users
                        <span class="badge badge-success">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/.well-known/openid-configuration" target="_blank">
                        <i class="nav-icon icon-info"></i> Discovery Document
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" class="nav-link" asp-action="About">
                        <i class="nav-icon icon-drop"></i> Colors
                    </a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>